﻿<footer class="page-footer white">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="grey-text text-darken-3">Contacto</h5>
                <p class="grey-text text-darken-3">Para mayor informaciónpóngase en contacto con nosotros</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="grey-text text-darken-3">Teléfonos:</h5>
                <ul>
                    <li class="grey-text text-darken-3">(667) 123 45 67</li>
                </ul>
                <h5 class="grey-text text-darken-3">Correo:</h5>
                <ul>
                    <li>
                        <a class="grey-text text-darken-3"
                           href="mailto:contacto@idcript.com">contacto@company.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright white grey-text text-darken-3">
        <div class="container">
            © @DateTime.Now.ToString("yyyy") Company
        </div>
    </div>
</footer>