﻿<header>
    <nav class="white">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
                <i class="material-icons black-text">menu</i>
            </a>
            <a href="Inicio" class="brand-logo"><img src="~/Content/img/brand-logo.png"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s12 black-text">
                                <i class="material-icons prefix">search</i>
                                <input id="icon_prefix" type="text" class="input-field">
                                <label for="icon_prefix">Buscar...</label>
                            </div>
                        </div>
                    </form>
                </li>
                <li><a href="Ingresar" class="black-text">Ingresar</a></li>
                <li><a href="Registrarse" class="black-text">Registrarse</a></li>
                <li><a href="Direcciones" class="black-text">Direcciones</a></li>
                <li><a class="black-text"><i class="material-icons">shopping_cart</i></a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li>
            <div class="row">
                <div class="col s12">
                    <div class="card">
                        <div class="card-image">
                            <img src="~/Content/img/brand-logo.png">
                        </div>
                        <div class="card-content">
                            <p>
                                Mensaje de prueba
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col s6">
                    <a href="Ingresar" class="waves-effect waves-light btn blue">Ingresar</a>
                </div>
                <div class="col s6">
                    <a href="Registrarse" class="waves-effect waves-light btn blue">Registrarse</a>
                </div>
                <div class="col s6">
                    <a href="Direcciones" class="waves-effect waves-light btn blue">Direcciones</a>
                </div>
            </div>
        </li>
    </ul>
</header>