﻿body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.brand-logo img {
    max-height: 64px;
}

.sidenav .col.s6 > .btn {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .brand-logo img {
        max-height: 56px;
    }
}

.modal {
    width: 25% !important;
    height: 25% !important;
}