﻿@{
    ViewBag.Title = "Direcciones";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
@section ScriptsView {
    @Scripts.Render("~/js/direcciones")
}
<input type="hidden" id="address-uri" value="@Url.Content("~/api/Address/List")" />
<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Catálogo de direcciones</span>
                <div class="row">
                    <table class="highlight striped" id="address-list">
                        <thead>
                            <tr>
                                <th>Calle</th>
                                <th>Numero</th>
                                <th>Colonia</th>
                                <th>Codigo Postal</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-action center-align">
                <a data-target="frm-address" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">location_on</i>Nueva</a>
            </div>
        </div>
    </div>
</div>

<div id="frm-address" class="modal">
    <div class="modal-content">
        <h4>Nueva direccion</h4>
        <form id="frm_login" class="col s12" action="@Url.Content("~/api/Address/Save")">
            <div class="row">
                <div class="input-field col s8">
                    <input id="street" type="text" class="validate">
                    <label for="street">Calle</label>
                </div>
                <div class="input-field col s4">
                    <input id="house-number" type="text" class="validate">
                    <label for="house-number">Número</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <input id="suburb" type="text" class="validate">
                    <label for="suburb">Colonia</label>
                </div>
                <div class="input-field col s4">
                    <input id="postal-code" type="text" class="validate">
                    <label for="postal-code">Código postal</label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn">Cancelar</a>
        <a class="waves-effect waves-green btn btn-save">Registrar</a>
    </div>
</div>