﻿@{
    ViewBag.Title = "Ingresar";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
@section ScriptsView {
    @Scripts.Render("~/js/ingresar")
}

<div class="row center-align">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">Inicio de sesión</span>
                <div class="row">
                    <form id="frm_login" class="col s12" action="@Url.Content("~/api/Authentication/Login")">
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Correo electrónico</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-action center-align">
                <a data-target="msg-login" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">input</i>Ingresar</a>
            </div>
        </div>
    </div>
</div>

<div id="msg-login" class="modal" style="width:25%; height: 25%; border-radius: 10px;">
    <div class="modal-content">
        <h4>Mensaje</h4>
        <div class="center-align">
            <h7 id="dialogMessage"></h7>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn">Cerrar</a>
    </div>
</div>