﻿@{
    ViewBag.Title = "Registrarse";
    Layout = "~/Views/Shared/LoginLayout.cshtml";
}
@section ScriptsView {
    @Scripts.Render("~/js/registrarse")
}
<div class="row">
    <div class="col s10 offset-s1 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <div class="card-content">
                <span class="card-title">Registro de usuario</span>
                <div class="row">
                    <form id="frm_signin" class="col s12" action="@Url.Content("~/api/Authentication/Registration")">
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="first_name" type="text" class="validate">
                                <label for="first_name">Nombre(s)</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Apellido(s)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input id="password" type="password" class="validate">
                                <label for="password">Contraseña</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="confirmation" type="password" class="validate">
                                <label for="confirmation">Confirmar contraseña</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Correo electrónico</label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card-action center-align">
                <a data-target="msg-login" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">input</i>Registrar</a>
            </div>
        </div>
    </div>
</div>

<div id="msg-login" class="modal" style="width:25%; height: 25%; border-radius: 15px;">
    <div class="modal-content">
        <h4>Mensaje</h4>
        <div class="center-align modal-dialog" style="margin-top: 40px;">
            <h7 id="dialogMessage"></h7>
        </div>
    </div>
    <div class="modal-footer" style="margin-top:10px;">
        <a class="modal-close waves-effect waves-green btn">Cerrar</a>
    </div>
</div>